.text-field .scroll-bar:vertical {
    -fx-background-color:#2c365d;
}

.text-field .increment-button ,. text-field .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.text-field .scroll-bar:horizontal .increment-arrow,
.text-field .scroll-bar:horizontal .decrement-arrow,
.text-field .scroll-bar:horizontal .increment-button,
.text-field .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.text-field .scroll-bar:vertical {
	-fx-background-radius: 20;
    	-fx-background-color: transparent;
	-fx-padding:0;
}

.text-field .decrement-button ,. text-field .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.text-field .increment-button ,. text-field .increment-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.text-field .scroll-bar:vertical .thumb {
    -fx-background-color:#FDF6F0;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

.text-field .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-opacity : 0;
}
